<!doctype html>

<html>
<head>
	<title>Leggo</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="css/filters.css" rel="stylesheet">   
	<link href="css/swipe.css" rel="stylesheet">   
</head>

<body>
  <div class="root-container">
    <section class="banner">
      <div class="banner-text" onclick="window.location.href='/';">
        <img src="/images/homeicon.png" style= "height:18px; width: 18px;">
        LEGGO!
      </div>
    </section>
    
    <div id='slider' class='swipe'>
      <div class='swipe-wrap'>
        
        <div>
          <section class="intro">
            What kind of transportation is available?
          </section>
          
          <section class="filter-body">
            <div class="navigation-panel">
            </div>
            
            <section class="icons">
              <img src="/images/filter-icons/trans-walk_unsel.png" filter="transportation" filtervalue="walking" id="walking-check_proxy" class="image-checkbox">
              </img>
              <img src="/images/filter-icons/trans-bike_unsel.png" filter="transportation" filtervalue="biking" id="biking-check_proxy" class="image-checkbox">
              </img>
              <img src="/images/filter-icons/trans-car_unsel.png" filter="transportation" filtervalue="driving" id="driving-check_proxy" class="image-checkbox">
              </img>
            </section>
            
            <div class="navigation-panel">
              <button class="next-filter" onclick="leggo.changeFilter(true)">
                &gt;
              </button>
            </div>
          </section>
          
           <section class="outro">
            <div class="outro-text">
              Or leave this option up to chance and continue...
            </div>
            <button class="start-button surprise-button">
               Surprise Me!
            </button>
          </section>
          
        </div>
        
        <div>
          <section class="intro">
            How energetic are you feeling?
          </section>
          
          <section class="filter-body">
            <div class="navigation-panel">
              <button class="previous-filter" onclick="leggo.changeFilter(false)">
                &lt;
              </button>
            </div>
            
            <section class="icons">
              <button filter="energy" filtervalue="1" class="image-checkbox">
                I want to relax a bit
              </button>
              <button filter="energy" filtervalue="2" class="image-checkbox">
                Feeling restless
              </button>
              <button filter="energy" filtervalue="3" class="image-checkbox">
                I need to move!
              </button>
            </section>
            
            <div class="navigation-panel">
              <button class="next-filter" onclick="leggo.changeFilter(true)">
                &gt;
              </button>
            </div>
          </section>
          
           <section class="outro">
            <div class="outro-text">
              Or leave this option up to chance and continue...
            </div>
            <button class="start-button surprise-button">
               Surprise Me!
            </button>
          </section>
          
        </div>
      
        <!-- <div>
        
          <section class="intro">
            How many are you?
          </section>
          
          <section class="filter-body">
            <div class="navigation-panel">
              <button class="previous-filter" onclick="leggo.changeFilter(false)">
                &lt;
              </button>
            </div>
            
            <section class="icons">
              <button filter="people" filtervalue="1" class="image-checkbox">
                It's just me!
              </button>
              <button filter="people" filtervalue="2" class="image-checkbox">
                2 people
              </button>
              <button filter="people" filtervalue="3" class="image-checkbox">
                3 or more
              </button>
            </section>
            
            <div class="navigation-panel">
              <button class="next-filter" onclick="leggo.changeFilter(true)">
                &gt;
              </button>
            </div>
          </section>
          
          <section class="outro">
            <div class="outro-text">
              Or leave this option up to chance and continue...
            </div>
            <button class="start-button surprise-button">
               Surprise Me!
            </button>
          </section>
        
        </div> -->
        
        <div>
        
          <section class="intro">
            How much are you willing to spend per person?
          </section>
          
          <section class="filter-body">
            <div class="navigation-panel">
              <button class="previous-filter" onclick="leggo.changeFilter(false)">
                &lt;
              </button>
            </div>
            
            <section class="icons">
              <button filter="money" filtervalue="0" class="image-checkbox">
                Nothing!
              </button>
              <button filter="money" filtervalue="25" class="image-checkbox">
                Under $25
              </button>
              <button filter="money" filtervalue="100" class="image-checkbox">
                $25 +
              </button>
            </section>
            
            <div class="navigation-panel">
              <button class="next-filter" onclick="leggo.changeFilter(true)">
                &gt;
              </button>
            </div>
          </section>
          
          <section class="outro">
            <div class="outro-text">
              Or leave this option up to chance and continue...
            </div>
            <button class="start-button surprise-button">
               Surprise Me!
            </button>
          </section>
        
        </div>
        

        
        
        <div>
        
          <section class="intro">
            When do you need to get back?
          </section>
          
          <section class="filter-body">
            <div class="navigation-panel">
              <button class="previous-filter" onclick="leggo.changeFilter(false)">
                &lt;
              </button>
            </div>
            
            <section class="icons">
              <section id="fancy-time">
                <div id="monitor">Y position: <strong id="position">0</strong></div>
                <div id="hours-wrapper">
                  <div id="hours-scroller" class="scroller">
                    <ul>
                      <li></li>
                      <li class="selected-time">12</li>
                      <li>1</li>
                      <li>2</li>
                      <li>3</li>
                      <li>4</li>
                      <li>5</li>
                      <li>6</li>
                      <li>7</li>
                      <li>8</li>
                      <li>9</li>
                      <li>10</li>
                      <li>11</li>
                    </ul>
                  </div>
                </div>
                <div id="minutes-wrapper">
                  <div id="minutes-scroller" class="scroller">
                    <ul>
                      <li></li>
                      <li class="selected-time">0</li>
                      <li>1</li>
                      <li>2</li>
                      <li>3</li>
                      <li>4</li>
                      <li>5</li>
                      <li>6</li>
                      <li>7</li>
                      <li>8</li>
                      <li>9</li>
                      <li>10</li>
                      <li>11</li>
                      <li>12</li>
                      <li>13</li>
                      <li>14</li>
                      <li>15</li>
                      <li>16</li>
                      <li>17</li>
                      <li>18</li>
                      <li>19</li>
                      <li>20</li>
                      <li>21</li>
                      <li>22</li>
                      <li>23</li>
                      <li>24</li>
                      <li>25</li>
                      <li>26</li>
                      <li>27</li>
                      <li>28</li>
                      <li>29</li>
                      <li>30</li>
                      <li>31</li>
                      <li>32</li>
                      <li>33</li>
                      <li>34</li>
                      <li>35</li>
                      <li>36</li>
                      <li>37</li>
                      <li>38</li>
                      <li>39</li>
                      <li>40</li>
                      <li>41</li>
                      <li>42</li>
                      <li>43</li>
                      <li>44</li>
                      <li>45</li>
                      <li>46</li>
                      <li>47</li>
                      <li>48</li>
                      <li>49</li>
                      <li>50</li>
                      <li>51</li>
                      <li>52</li>
                      <li>53</li>
                      <li>54</li>
                      <li>55</li>
                      <li>56</li>
                      <li>57</li>
                      <li>58</li>
                      <li>59</li>
                    </ul>
                  </div>
                </div>
                <div id="ampm-wrapper">
                  <div id="ampm-scroller" class="scroller">
                    <ul>
                      <li></li>
                      <li class="selected-time">AM</li>
                      <li>PM</li>
                    </ul>
                  </div>
                </div>
              </section>
               <button id="increment-endtime">
                +
              </button>
              <div id="time-display" filter="endtime" filtervalue="0">
                
              </div>
              <button id="decrement-endtime">
                -
              </button> 
            </section>
            
            <div class="navigation-panel">
              <button class="next-filter" onclick="leggo.changeFilter(true)">
                &gt;
              </button>
            </div>
          </section>
        
          <section class="outro">
            <div class="outro-text">
              Or leave this option up to chance and continue...
            </div>
            <button id="time-surprise" class="start-button surprise-button">
               Surprise Me!
            </button>
          </section>
        
        </div>


        <div>
          <section id="activities-intro" class="intro">
            Here are your activities. Pick one!:
          </section>
          <section class="filter-body">
            <section class="images">
              <div id="activities">
                {{#each activities}}
                  <div class="activity-display">
                    <a href="#" activityid="{{id}}" >
                    <img src="{{imageURL}}" class="act-img">
                    </a>
                  </div>
                {{/each}}
              </div>
            </section>
            <section class="outro-details">
              <button id="refresh-button" class="start-button refresh-button">
                Show me different activities
              </button></br>
              <button class="back-button" onclick="leggo.changeFilter(false)"> 
               Or, go back to filters
              </button>
            </section>
          </section>
        </div>


      
        <div>
          <section class= "details-page">
            <section class="picture">
              <img id="img-detail"/>
            </section>
          
            <section class="info" id="info">
              <div class="details-text">
                <div class="needs">
                  You'll need: 
                </div>
                <div id="needs-detail">
                </div> 
                <div class="cost"> 
                  Cost:
                <div id="cost-detail"></div>


                <div class="descrip-text">
                  </br> <span class="bold-text"> Description: </span>
                  <div id="descrip-detail">
                  </div>
                </div>
              </div>
            </section>

              
            <section class="outro">
              <button class="start-button" onclick="leggo.testingfunction()">
                LEGGO!
              </button></br>
              <button class="back-button" onclick="leggo.changeFilter(false)"> 
                Or, go back to activities 
              </button>
            </section>
          </section>
        </div>



        <div>
          <section class="intro">
                    Hope you had fun!
          </section>
          <section class="outro" id="outro-details">
                <button class="start-button">
                  <a href= "/">
                  START OVER!
                  <a>
                </button>
                <button class="back-button" onclick="leggo.changeFilter(false)"> 
                Back 
                </button>
              </section>
        </div>

            
          </div> <!-- swipe-wrap -->
          
        </div>
    
    <nav class="nav-dots">
      <ul id="nav">
        <li class="selected">1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>!</li>
      </ul>
    </nav>
  </div>
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src='js/filters.js'></script>
  <script src='js/swipe.js'></script>
  <script src='js/iscroll-probe.js'></script>
  
  <script>
    $(document).ready( function () {
      leggo.initializePage();
    });
  </script>
</body>
</html>






