<!doctype html>

<html>
<head>
	<title>Leggo</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="css/filters.css" rel="stylesheet">   
	<link href="css/swipe.css" rel="stylesheet">   
</head>

<body>
  <div class="root-container">
    <section class="banner">
      <div class="banner-text" onclick="window.location.href='/';">
        <img src="/images/homeicon.png" style= "height:18px; width: 18px;">
        LEGGO!
      </div>
    </section>
    
    <div id='slider' class='swipe'>
      <div class='swipe-wrap'>
        
        <div>
          <section class="intro">
            How far can you travel?
          </section>
          
          <section class="filter-body">
            <div class="navigation-panel">
            </div>
            
            <section class="icons">
              <img src="/images/filter-icons/trans-walk_unsel.png" filter="transportation" filtervalue="walking" id="walking-check_proxy" class="image-checkbox">
              </img>
              <img src="/images/filter-icons/trans-bike_unsel.png" filter="transportation" filtervalue="biking" id="biking-check_proxy" class="image-checkbox">
              </img>
              <img src="/images/filter-icons/trans-car_unsel.png" filter="transportation" filtervalue="driving" id="driving-check_proxy" class="image-checkbox">
              </img>
            </section>
            
            <div class="navigation-panel">
              <button class="next-filter" onclick="leggo.changeFilter(true)">
                &gt;
              </button>
            </div>
          </section>
          
           <section class="outro">
            <div class="outro-text">
              Up for anything? 
            </div>
            <button class="start-button surprise-button">
               Distance Doesn't Matter!
            </button>
          </section>
          
        </div>
        
        <div>
          <section class="intro">
            How energetic are you feeling?
          </section>
          
          <section class="filter-body">
            <div class="navigation-panel">
              <button class="previous-filter" onclick="leggo.changeFilter(false)">
                &lt;
              </button>
            </div>
            
            <section class="icons">
              <button filter="energy" filtervalue="1" class="image-checkbox">
                Just Mellow
              </button>
              <button filter="energy" filtervalue="2" class="image-checkbox">
                Pretty Lively
              </button>
              <button filter="energy" filtervalue="3" class="image-checkbox">
                Ready to move!
              </button>
            </section>
            
            <div class="navigation-panel">
              <button class="next-filter" onclick="leggo.changeFilter(true)">
                &gt;
              </button>
            </div>
          </section>
          
           <section class="outro">
            <div class="outro-text">
              Up for anything? 
            </div>
            <button class="start-button surprise-button">
              Energy Doesn't Matter! 
            </button>
          </section>
          
        </div>
      
        <!-- <div>
        
          <section class="intro">
            How many are you?
          </section>
          
          <section class="filter-body">
            <div class="navigation-panel">
              <button class="previous-filter" onclick="leggo.changeFilter(false)">
                &lt;
              </button>
            </div>
            
            <section class="icons">
              <button filter="people" filtervalue="1" class="image-checkbox">
                It's just me!
              </button>
              <button filter="people" filtervalue="2" class="image-checkbox">
                2 people
              </button>
              <button filter="people" filtervalue="3" class="image-checkbox">
                3 or more
              </button>
            </section>
            
            <div class="navigation-panel">
              <button class="next-filter" onclick="leggo.changeFilter(true)">
                &gt;
              </button>
            </div>
          </section>
          
          <section class="outro">
            <div class="outro-text">
              Or leave this option up to chance and continue...
            </div>
            <button class="start-button surprise-button">
               Surprise Me!
            </button>
          </section>
        
        </div> -->
        
        <div>
        
          <section class="intro">
            How much are you willing to spend per person?
          </section>
          
          <section class="filter-body">
            <div class="navigation-panel">
              <button class="previous-filter" onclick="leggo.changeFilter(false)">
                &lt;
              </button>
            </div>
            
            <section class="icons">
              <button filter="money" filtervalue="0" class="image-checkbox">
                Nothing!
              </button>
              <button filter="money" filtervalue="25" class="image-checkbox">
                Under $25
              </button>
              <button filter="money" filtervalue="100" class="image-checkbox">
                $25 +
              </button>
            </section>
            
            <div class="navigation-panel">
              <button class="next-filter" onclick="leggo.changeFilter(true)">
                &gt;
              </button>
            </div>
          </section>
          
          <section class="outro">
            <div class="outro-text">
             Up for anything? 
            </div>
            <button class="start-button surprise-button">
               Money Doesn't Matter!
            </button>
          </section>
        
        </div>
        

        
        
        <div>
        
          <section class="intro">
            How much time do you have? 
          </section>
          
          <section class="filter-body">
            <div class="navigation-panel">
              <button class="previous-filter" onclick="leggo.changeFilter(false)">
                &lt;
              </button>
            </div>
            
            <section class="icons">
              <section id="fancy-time">
                <div id="minutes-wrapper">
                  <div id="minutes-scroller" class="scroller">
                    <ul>
                      <li class="minutes-spacer"></li>
                      <li class="selected-time selected-time">No limit!</li>
                      <li>30 min</li>
                      <li>45 min</li>
                      <li>1 hr</li>
                      <li>1 hr 15 min</li>
                      <li>1 hr 30 min</li>
                      <li>1 hr 45 min</li>
                      <li>2 hr</li>
                      <li>2 hr 15 min</li>
                      <li>2 hr 30 min</li>
                      <li>2 hr 45 min</li>
                      <li>3 hr</li>
                      <li class="minutes-spacer"></li>
                    </ul>
                  </div>
                </div>
              </section>
              <div id="time-spacer"></div>
              <!-- <button id="increment-endtime">
                +
              </button>
              <div id="time-display" filter="endtime" filtervalue="0">
                
              </div>
              <button id="decrement-endtime">
                -
              </button> -->
            </section>
            
            <div class="navigation-panel">
              <button class="next-filter" onclick="leggo.changeFilter(true)">
                &gt;
              </button>
            </div>
          </section>
        
          <section class="outro">
            <div class="outro-text">
              Ready to see results? 
            </div>
            <button class="start-button" onclick="leggo.changeFilter(true)">
               Show Me Activities!
            </button>
          </section>
        
        </div>


        <div>
          <section id="activities-intro" class="intro">
            You're all set to choose an experience! Click one for details:
          </section>
          <section class="filter-body">
            <section class="images">
              <div id="activities">
                {{#each activities}}
                  <div class="activity-display">
                    <a href="#" activityid="{{id}}" >
                    <img src="{{imageURL}}" class="act-img">
                    </a>
                  </div>
                {{/each}}
              </div>
            </section>
            <section class="outro-details">
              <button id="refresh-button" class="start-button refresh-button">
                Show me different experiences
              </button></br>
              <button class="back-button" onclick="leggo.changeFilter(false)"> 
               Or, go back to filters
              </button>
            </section>
          </section>
        </div>


      
        <div>
          <section class= "details-page">
            <section class="picture">
              <img id="img-detail"/>
            </section>
          
            <section class="info" id="info">
              <div class="details-text">
                <div class="needs" "bold-text">
                  You'll need: 
                </div>
                <div id="needs-detail">
                </div> 
                <div class="cost" "bold-text"> 
                  Cost:
                <div id="cost-detail"></div>


                <div class="descrip-text">
                  </br> <span class="bold-text"> Description: </span>
                  <div id="descrip-detail">
                  </div>
                </div>
              </div>
            </section>

              
            <section class="outro-details">
              <button class="start-button" onclick="leggo.testingfunction()">
                LEGGO!
              </button></br>
              <button class="back-button" onclick="leggo.changeFilter(false)"> 
                Or, go back to experiences 
              </button>
            </section>
          </section>
        </div>
            
          </div> <!-- swipe-wrap -->
          
        </div>
    
  </div>
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src='js/filters.js'></script>
  <script src='js/swipe.js'></script>
  <script src='js/iscroll-probe.js'></script>
  
  <script>
    $(document).ready( function () {
      leggo.initializePage();
    });
  </script>
</body>
</html>






