<!doctype html>

<html>
<head>
	<title>Leggo</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="css/filters.css" rel="stylesheet">   
	<link href="css/swipe.css" rel="stylesheet">         
</head>

<body>
	<div class="root-container">
    <section class="banner">
      <div class="banner-text" onclick="window.location.href='/';">
        <img src="/images/homeicon.png" style= "height:18px; width: 18px;">
        LEGGO!
      </div>

		<button class="back-help" onclick="history.back(-1)">
          Back
        </button>
 	</div>
	
		Welcome to LEGGO!, your spontaneous activity recommendation service! </br></br>

	<b> What do I do now? </b></br> Press the orange LEGGO! button to start answering a few questions about the kind of activity that’s right for you, right now. You’ll help us generate 3 possible activities for you to check out, and when you’re ready to pick one, press LEGGO! one more time. 
	</br></br>

	<b> What if I don’t want to answer questions? </b></br> Just press “Surprise Me!” for each filter, or swipe onwards without selecting anything. 
	</br></br>	

	<b> What if I don’t like my results? </b></br> Either press “Show me different activities” to refresh the page with 3 new results, or go back and change your filters. 
	</br></br>

	<b> How can I submit ideas for activities? </b></br> We’re always looking for new ideas! email us at leggoadventures@gmail.com

	</p>


	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/hci-friends.js"></script>
</body>
</html>