<!doctype html>

<html>
<head>
	<title>Leggo</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/hci-friends.css" rel="stylesheet">       
</head>

<body>
	<div class="container">
	<button class="btn btn-default"><a href = "/"> Start Over </a></button>
	<button class="btn btn-default"><a href = "/help"> Help </a></button>
	<input type="button" class="btn btn-default" value="Back To Transport" onclick="history.back(-1)"/>
	<h1> ACTIVITY 1 </h1>
	<h1> ACTIVITY 2 </h1>
	<h1> ACTIVITY 3 </h1>
	<form id="addFriendForm" role="form" method="get" action="/details">
	    <input type="submit" id="submitBtn" class="btn btn-default" value="See Details"></input>
	</form>
	<form id="addFriendForm" role="form" method="get" action="/chosenactivity">
	    <input type="submit" id="submitBtn" class="btn btn-default" value="Choose Activity"></input>
	</form>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/hci-friends.js"></script>
</body>
</html>