<!doctype html>

<html>
<head>
	<title>Leggo</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/leggo.css" rel="stylesheet">
	<script>
function startTime()
{
var today=new Date();
var h=((today.getHours() > 12) ? today.getHours() - 12 : today.getHours());
var m=today.getMinutes();
var s=today.getSeconds();
var isPM = today.getHours() > 12;
// add a zero in front of numbers<10
m=checkTime(m);
s=checkTime(s);
document.getElementById('txt').innerHTML=h+":"+m+" "+((isPM) ? 'PM' : 'AM');
t=setTimeout(function(){startTime()},500);
}

/*function toClockString (date) {
    var isPM = date.getHours() > 12;
    return ((date.getHours() > 12) ? date.getHours() - 12 : date.getHours()) + ':' + ( (date.getMinutes()<10?'0':'') + date.getMinutes() ) + ' ' + ((isPM) ? 'PM' : 'AM');
  } */
function checkTime(i)
{
if (i<10)
  {
  i="0" + i;
  }
return i;
}
</script>     
</head>

<body>
	<div class="root-container">
  <section class="banner">
    <div class="banner-text">
      LEGGO!
    </div>
      <!-- <a href="/help">
        <img src="http://i.imgur.com/371okK5.png" title="Hosted by imgur.com" />
      </a> -->

    <div class="help-button"> 
      <a href="/help">
        <img src="/images/helpicon.png" width=20px />
      </a>
    </div>
  </section>
	<div class="container">

  <section class="intro">
    Find what you'll love<br/>
    <span class="bold-text">
      Do it now
    </span>
  </section>
  
  <section class="time-and-location">
  <div class="time-text">
  <body onload="startTime()">
  <div id="txt"></div>
  </body>
  </div>
  
    <div class="location-text">
    STANFORD, CA <!-- gps data? -->
    </div>
  </section>
  
  <section class="outro">
    <div class="outro-text">
      Perfect timing to start living in the moment
    </div>
    <form id="addFriendForm" role="form" method="get" action="/filters">
	<input type="submit" id="submitBtn" class="start-button" value="LEGGO!"></input>
	</form>
  </section>
</div>
</div>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/hci-friends.js"></script>
</body>
</html>
