.root-container {
  background-color: #fff;
  font: 'Helvetica Light', 'Helvetica', Arial, sans-serif;
  height: 100%;
  color:#3a3a3a
}

/*general stuff?*/
.bold-text {
  font-weight: 100;
}

.image-checkbox-checked {
  background-color: white;
}

.current-slide {
  visibility: visible !important;
}

.swipe-wrap > div {
  overflow: hidden;
  visibility: visible;
}

/*iscroll*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-ms-touch-action: none;
}

body {
	overflow: hidden; /* this is important to prevent the whole page to bounce */
}
#any-time-option {
 font-size: 12px;
}
#time-spacer {
  height:200px;
  width:100%;
}
.hours-spacer{
  height: 82px !important;
}
.minutes-spacer{
  height: 82px !important;
}
.ampm-spacer{
  height: 82px !important;
}
#hours-wrapper {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	width: 33%;
	background: #ccc;
	overflow: hidden;
}
#minutes-wrapper {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	right: 0;
  left: 0;
	width: 80%;
  margin-left: auto;
  margin-right: auto;
	background: #ccc;
	overflow: hidden;
}
#ampm-wrapper {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	right: 0;
  /*margin-top: auto;
  margin-bottom: auto;
  height: 120px;*/
	width: 33%;
	background: #ccc;
	overflow: hidden;
}

.scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

.scroller ul {
	list-style: none;
	padding: 0;
	margin: 0;
  border: 0;
	width: 100%;
	text-align: left;
}

.scroller li {
	padding: 0 10px;
  margin: 0;
  border: 0;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	background-color: #fafafa;
	font-size: 14px;
}

.scroller li.selected-time{
  background-color:#8ac2bf;
  color: white;
}

.scroller li.selected-time-gray{
	background-color: DarkGray !important;
}

#monitor {
	position: absolute;
	left: 51%;
}



/* THE CLOCK */
#clock {
  max-width: 100%;
  max-height: 100%;
}

/*#hours-hand {*/
  /*-webkit-transform: rotate(290deg);*/
  /*-webkit-transform-origin: 0% 100%;*/
/*  background-color: black;
  position: absolute;
  width: 2%;
  height: 33%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 17% auto auto auto;
}*/

#time-display {
  display:block;
  margin: 0 auto; 
  font-size: 30px;
}

#increment-endtime {
  margin: 10px auto;
}

#decrement-endtime {
  margin: 10px auto;
}

/*banner stuff*/
.banner {
  padding: 10px;
  margin: auto;
  background-color: #8ac2bf;
  color: #fff;
}

.banner > div {
  display: inline-block;
  width: 49%;
  font-size: 14px;
  font-weight: bold;
}

.banner-text {
  text-align: left;
}


/*first text block. not that useful a description I know*/
.intro {
  display:block;
  position: relative;
  margin: 20px auto 0 auto;
  border-radius:5px 5px 0 0;
  padding: 20px;
  width: 100%;
  
  text-align: center;
  background-color: #e0e4cc;
}

/* the filter body includes both the navigation arrows and the filter, itself */
.filter-body {
  text-align: center;
  height: 40%;
}

.swipe-button img {
  display: block;
  margin: 15px auto;
  max-width: 100%;
  max-height: 100%;
}

.swipetext{
  display:inline;
  text-decoration: bold;
}

#suggestion-button {
  padding: 3px 7px 10px 7px;
  margin: 5px auto;
  background-color: #ffffff;
  color: #3a3a3a;
  border: 3px solid #f37f47;
  border-radius: 3px;
  font-size: 13px;
 
}

#help-button{
  padding: 3px 7px 10px 7px;
  margin: 5px auto;
  background-color: #ffffff;
  color: #3a3a3a;
  border: 3px solid #8ac2bf;
  border-radius: 3px;
  font-size: 13px;
  vertical-align: center;
}

/* icons */
.icons {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 70%
}


.icons button {
  display: block;
  padding: 10px;
  margin: 15px auto 0 auto;
  border: 3px solid #e0e4cc;
  background-color: #FFFFFF;
  border-radius: 3px;
}

.images  {
  display: inline-block;
  margin:0 auto;
 width:90%;
 border: ;
}
.icons img {
  display: block;
  margin: 10px auto 0 auto;
  max-width: 30%;
}

/* navigation panels are containers for previous/next filter buttons */
.navigation-panel {
  display: inline-block;
  vertical-align: middle;
  padding: 50px 0;
  width: 10%;
  height: 100%;
}

.previous-filter {
  background: transparent;
  border: none !important;
  color:#f37f47;
  font-size:30px;
  float:left;
}

.next-filter {
  background: transparent;
  border: none !important;
  color:#f37f47;
  font-size:30px;
  float:right;
}



/* buttons*/
#start-page-outro {
  
}
#suggestion-button {
  display: inline-block;
  width: 45%;
  height: 50px;
}

#help-button {
  display: inline-block;
  width: 45%;
  height: 50px;
}

/* outro section with text + start button */
.outro {
  display:block;
  position: relative;
  margin: 15px auto 0 auto;
  padding: 10px 20px;
  width: 100%;
  border-radius:0 0 5px 5px;
  text-align: center;
  font: 'Helvetica Light', 'Helvetica', Arial, sans-serif;
  background-color:#e0e4cc;
}

/*a:link{ 
    text-decoration: none;
    color: #FFFFFF;
  }*/

.outro-text {
  color:#3a3a3a;
  padding: 10 auto;
}

.start-button {
  margin: 10px auto;
  padding:5px 10px;

  background-color:#f37f47;
  border:none;
  border-radius:3px;
  
  color:#FFFFFF;
  font-size:1em;

  width: 20em;  
  height: 2em;
}

.back-help{
  background-color:#f37f47;
  border:none;
  border-radius:3px;
  float: right;
  color:#FFFFFF;
  font-size:0.75em;
}

/* nav dots */
/*.nav-dots {
  display: block;
  margin: 0 auto;
}

.nav-dots ul {
    list-style: none;
    width: 150px;
    margin: 0 auto;
}

.nav-dots ul li{
    float: left;
    margin-left: 20px;
}

li.selected {
    font-weight: bold;
    color: orange;
}
*/
body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


/* RESULTS PAGE */
.picture {
  display:block;

  width: 100%;
  margin: 20px auto 0 auto;
 
  border-radius: 5px 5px 0 0;
  background-color: #e0e4cc;
}

#activities {
  margin-top: 10px;
  margin-bottom: 10px;
}

#activities-loading {
  background-image: url('../images/loading_cropped.gif');
  background-repeat:no-repeat;
  background-position:center;
  margin-left: auto;
  margin-right: auto;
  background-size: contain;
  width: 50px;
  height: 50px;
  max-width: 100%;
  max-height: 100%;
}

.picture > p{
  font-weight: bold;
  font-color: #3a3a3a;
  text-align: center;
}

.picture > img {
  max-width: 100%;
  max-height: 100%; 
  border-radius: 5px 5px 0 0;
}

.details-page .picture {
  width:85%;
}
/* details page */
#img-detail {
  width:100%;
}
/*description of activity*/
.info {
  display: block;
  width:85%;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #e0e4cc;
  /* padding: 10px; */

  color:#3a3a3a;
  font-size: .75em;
}
.message {
  max-width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}


/* outro section with text + start button */
.outro-details {
  margin: 0 auto;
  width: 85%;
  padding: 10px;

  
  border-radius:0 0 5px 5px;
  color:#3a3a3a;
  text-align: center;
  background-color: #e0e4cc;
}
.back-button {
  padding: 5px;
  background-color:#FFFFFF;
  border:none;
  border-radius:3px;
  
  color:#3a3a3a;
  font-size:1em;;
}
 /*image for each activity choice */
.act-img {
  max-width: 100%;
  margin:0 auto;
}

.accordion{
  font-weight: bold;
  /*padding: 5px;*/
  font-size: 12px;
  text-align: left;
  background-color: #FFFFFF;
}

.accordion-toggle{
  background-color: #8ac2bf;
  color: #FFFFFF;

}
